*{
    box-sizing: border-box;
}


body{
   height: 400vh;
   background-color: rgba(0, 0, 0, 0.644);
}
.CS16{
    background-image: url(image/Source-2-in-CSGO-–-Dataminer-1.webp);
    background-size: cover;
    height: 100vh;
    border-radius: 10px;
    color: white ;
    padding: 30px;

}


.CS{
    color: rgb(36, 168, 171) ;
    width: 100%;
    background-color:rgba(187, 124, 36, 0.571);
    position:sticky ;
    height: 100px;
     border-radius: 10px;
     
    
     top: 0;
    
}
.CS h1{
    font-size: 100px;
}


div .csgotext{
    
    width: 40%;
    background-color: rgba(187, 124, 36, 0.571);
 border-radius: 20px;
 font-size: 30px;
 font-family: cursive;
}
.image :hover {
    transition: 1.0s;
    transform: scale(1.2);

    
}









.Story{
    background-image: url(https://cdn.motor1.com/images/mgl/BB44v/s1/2016-dodge-challenger.jpg);
    background-size: cover;
    height: 100vh;
    border-radius: 10px;
    color: white ;
    padding: 30px;

}


.Alver{
    color: rgb(36, 168, 171) ;
    width: 100%;
    background-color:rgba(187, 124, 36, 0.571);
    position:sticky ;
    height: 100px;
     border-radius: 10px;
    
     top: 0;
    
}
.Alver h1{
    font-size: 100px;
}


div .Fullname {
    
    width: 30%;
    background-color: rgba(187, 124, 36, 0.571);
 border-radius: 20px;
 font-size: 30px;
 font-family: cursive;
}
.img :hover {
    
    transition: 1.0s;
    transform: scale(0.9);

    
}





.Xengel{
    background-image: url(https://b.zmtcdn.com/data/pictures/2/19446282/c42e1727b1a51ed051ffb611e342bbc2.jpg);
    background-size: cover;
    height: 100vh;
    border-radius: 10px;
    color: white ;
    padding: 30px;
    
    

}


.Banquet{
    color: rgb(36, 168, 171) ;
    width: 100%;
    background-color:rgba(187, 124, 36, 0.571);
    position:sticky ;
    height: 100px;
     border-radius: 10px;
    
     top: 0;
    
}
.Banquet h1{
  font-size: 100px;  
}


.vodka.Fullname {
    
    width: 30%;
    background-color: rgba(187, 124, 36, 0.571);
 border-radius: 20px;
}
.vodka.image:hover {
    transition: 1.0s;
    transform: scale(0.9);

    
}




.Taxi{
    background-image: url(https://www.rmv.de/c/fileadmin/_processed_/1/c/csm_Taxi_Shutterstock_1000x667_4bedab50a7.jpg);
    background-size: cover;
    height: 100vh;
    border-radius: 10px;
    color: white ;
    padding: 30px;

}


.Service{
    color: rgb(36, 168, 171) ;
    width: 100%;
    background-color:rgba(187, 124, 36, 0.571);
    position:sticky ;
    height: 100px;
     border-radius: 10px;
    
     top: 0;
    
}
.Service h1{
    font-size: 100px;
}


.online.Fullname{
    
    width: 30%;
    background-color: rgba(187, 124, 36, 0.571);
 border-radius: 20px;
}
.image1 :hover {
    
    transition: 1.0s;
    transform: scale(0.9);

    
}
.Media{
    font-size: 100px;
}
.Media :hover{
    
    transition: 1.0s;
    transform: scale(0.9);
}




.Music{
    background-image: url(https://media.istockphoto.com/id/475916678/vector/man-playing-trumpet.jpg?s=170667a&w=0&k=20&c=MSlLqute_S2JRAuJbjbDvEkxlcHRk9cDwqyX16HpBpc=);
    background-size: cover;
    height: 100vh;
    border-radius: 10px;
    color: white ;
    padding: 30px;

}


.Musician{
    color: rgb(36, 168, 171) ;
    width: 100%;
    background-color:rgba(187, 124, 36, 0.571);
    position:sticky ;
    height: 100px;
     border-radius: 10px;
    
     top: 0;
    
}
.Musician h1{
    font-size: 100px;
}


.Trumpet.Fullname{
    
    width: 30%;
    background-color: rgba(187, 124, 36, 0.571);
 border-radius: 20px;
}

.Media{
    font-size: 100px;
}
.Media :hover{
    
    transition: 1.0s;
    transform: scale(0.9);
}
